body {
    background-color: lightsteelblue;
}

h1 {
    font-size: 32px;
    color: aliceblue;
    font-family: "Luminari", sans-serif;
    text-align: center;
    text-shadow: 2px 2px 5px darkcyan;
}

h2 {
    font-size: 28px;
    color: aliceblue;
    font-family: "Luminari", sans-serif;
}

li, p {
    font-size: 18px;
    font-family: "Trebuchet MS", sans-serif;
}

img {
    width: 650px;
    height: auto;
}