body {
    background-color: teal;
}

h1 {
    font-size: 36px;
    font-family: "Luminari", sans-serif;
    color: whitesmoke;
}

ul {
    font-size: 18px;
    font-family: "Trebuchet MS", sans-serif;
    color: aliceblue;
}

